<% layout('../layout') -%>
<ul>
  <% for(var i=0; i< reminders.length; i++) {%>
    <li class="reminder">
      <a class="reminder-title" href="<%= '/reminders/'+reminders[i]._id %>"><%= reminders[i].title %>:</a>
      <span class="reminder-message"><%= reminders[i].message %></span>
    </li>
  <% } %>
</ul>